body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background: #006400;
  padding: 5px;
  display: flex;
  align-items: center; /* căn giữa dọc */
}

.logo-left,
.logo-right {
  flex: 0 0 auto; /* không co giãn, giữ kích thước ảnh */
}

.header-text {
  flex: 1; /* chiếm hết khoảng giữa */
  text-align: center;
  color: white;
}

.logo-left img,
.logo-right img {
  height: 55px;
}

.header-text h1 {
  margin: 0;
  font-size: 24px;
}

.header-text p {
  margin: 0;
  font-size: 12px;
}

.clear {
  clear: both;
}

/* Menu */
.menu {
  background: #0d8b3d;
}

.menu {
  background: #0d8b3d;
  display: flex;
  justify-content: space-around; /* trải đều */
  align-items: center;
  flex-wrap: wrap; /* xuống hàng khi hẹp */
}

.menu a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap; /* không xuống dòng */
  display: flex;
  align-items: center;
  gap: 5px; /* khoảng cách icon và chữ */
}

.menu a:hover {
  background: #066629;
}

/* Search */
.search {
  height : 30px;
  padding: 5px;
}

.search form {
  display: flex;
  justify-content: center;
}

/* Banner */
.banner {
  height: 200px; 
  overflow: hidden; /* cắt bớt phần thừa */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* phóng cho vừa khung nhưng vẫn đầy */
  display: block;
}

/* Intro */
.intro {
  background: #b1acac;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.intro img {
  float: left;
  height: 150px;
  margin-right: 10px;
}
.intro-text {
  font-size: 14px;
}
.intro .btn {
  display: inline-block;
  padding: 5px 10px;
  background: #0d8b3d;
  color: white;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
}

/* Partners */
.partners {
  text-align: center;
  padding: 10px;
}
.partners img {
  height: 80px;
  margin: 0 5px;
}

/* Footer */
.footer {
  background: #c4b546;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}
